body {
    background: white;
    font-size: 12pt;
}

#header,
#column1,
form {
    display: none;
}

#column1,
#column2 {
    float: none;
}

#column2 {
    width: 100%;
}

#container {
    margin-left: 10%;
    padding-top: 1em;
    border-top: 1px solid #930;
}





